data/copernicus/*/*.nc
data/copernicus/make_cache.sh
src/python/utils/__pycache__/
app/__pycache__/
src/python/backend/__pycache__/
src/model/__pycache__/
src/documentation
.env
data/foca.csv
data/foca_procesado.csv
data/datos_foca.csv
model_example/
data/temporal_subset.csv
world_box.csv
src/jupyter/pruebas.ipynb
data/presence_grid.nc
src/model/pruebas.ipynb
src/jupyter/pruebas_+_mapa.ipynb
images/
training_history.json